%div{ 'ng-app' => 'main' }
  .container{'ng-controller' => 'display'}
    .row
      %span{ 'us-spinner' => '{radius:30, width:8, length: 16}', 'spinner-key' => 'spinner-1', 'spinner-start-active' => true}
      %table{'ng-table' => "tableParams", 'show-filter' => 'true', class: 'table'}
        %thead
          %tr
            %th.sortable.text-center{ 'ng-repeat' => 'column in $data.columns',
              "ng-class" => "{'sort-asc': tableParams.isSortBy(column, 'asc'), 'sort-desc': tableParams.isSortBy(column, 'desc')}",
              "ng-click" => "tableParams.sorting(column, tableParams.isSortBy(column, 'asc') ? 'desc' : 'asc')" }
              {{column}}
        %tbody
          %tr{'ng-repeat' => 'value in $data.values'}
            %td{'ng-repeat' => 'column in $data.columns'}
              %font{'ng-attr-color' => %q({{column == 'Id' ? 'black' : (value[column] == 'AC' ? 'green' : 'red')}})}
                {{value[column]}}

